<%- partial('../partial/sidemenu.ejs') %>
<form action="/admin/applyHandle/search" method="GET">
    <div>
        <h5 class="main-heading1">
            申請處理管理<span class="highlight">系統</span>
          </h5>
    </div>

</form>