<!-- Team_HKRGAgeGroupCompetition_form.ejs -->
<form action="/pages/competition/onlineApplication/Team_HKRGAgeGroupCompetition_form" class="register" method="POST">

<h1><b>第63屆體育節 - 2020年全港藝術體操分齡比賽</b></h1>
<h2><u><b>團體項目報名表(學校組)</b></u></h2>
<br><br>

<fieldset class="row1">

</fieldset>

</form>