<form action="/competition/form/GFA" method="POST">
    <div class="row mx-sm-2">
        <div class="col-12" style="color: #888888; ">
            <br>
            <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt;"><b>2020年香港普及體操節</b></h1>
            <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt;"><u>報名表格</u></h2>
            <br><br>
        </div>


        <div class="col-12">
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">比賽規則及章程
                Rules and Regulation</h5>
        </div>


        <div class="col-12">
            <a href="/formDoc/Prospectus_GFAFestival2020.pdf" target="_blank" style="text-align: center;"><u>2020年香港普及體操節章程
                    Prospectus of GFAFestival2020</u></a>
        </div>

        <!-- Group Details -->
        <div class="col-12">
            <br><br>
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">團體資料 Group
                Details</h5>
        </div>


        <div class="col-12">
            <label>團體名稱 Group Name:</label>
            <input type="text" class="form-group" name="GFA[teamName]" style="width:350pt;" required>
        </div>

        <div class="col-12">
            <label>收據抬頭 Receipt Header:</label>
            <input type="text" class="form-group" name="GFA[receiptHeader]" style="width: 350pt;" required>
        </div>

        <div class="col-12">
            <label>聯絡地址 Address:</label>
            <input type="text" class="form-group" name="GFA[address]" style="width:450pt;" required>
        </div>

        <div class="col-12">
            <span>參賽組別 Category:</span>
            <input type="radio" name="GFA[category]" value="幼稚園 Kindergarten" required>
            <label class="form-check-label" for="category">幼稚園 Kindergarten</label>
            <input type="radio" name="GFA[category]" value="小學組 Primary School" required>
            <label class="form-check-label" for="category">小學組 Primary School</label>
            <input type="radio" name="GFA[category]" value="公開組 Open Group" required>
            <label class="form-check-label" for="category">公開組 Open Group</label>
        </div>



        <!-- Contact Person Details -->
        <div class="col-12">
            <br><br>
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">聯絡人資料
                Contact Person Details</h5>
        </div>

        <div class="col-12">
            <label>是否有中文姓名 Any Chinese name: </label>
            <input type="radio" name="GFA[havecname]" value="是 Yes" id="Yes" onclick="havechinesename()" required />
            <label class="form-check-label" for="havecname">是 Yes</label>

            &nbsp;<input type="radio" name="GFA[havecname]" value="否 No" id="No" onclick="havechinesename()" required />
            <label class="form-check-label" for="havecname">否 No</label>
        </div>

        <div class="col-12 col-sm-6">
            <label>中文姓名 Name in Chinese:</label>
            <input type="text" class="form-group" name="GFA[cpChiName]" id="cpChiName"
                onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
        </div>

        <div class="col-12 col-sm-6">
            <label>英文姓名 Name in English:</label>
            <input type="text" class="form-group" name="GFA[cpEngName]"
                onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
        </div>

        <div class="col-12 col-sm-6">
            <label>聯絡電話 Contact Number</label>
            <br>

            <div class="col-12">
                <label>日間 Office Hour:</label>
                <input type="tel" pattern=[0-9]{8} class="form-group" name="GFA[cpDayPhone]" required>
            </div>

            <div class="col-12">
                <label>手提 Mobile:</label>
                <input type="tel" pattern=[0-9]{8} class="form-group" name="GFA[cpMobilePhone]" required>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <label>電郵地址 Email Address:</label>
            <input type="email" class="form-group" name="GFA[email]" style="width:250pt;" required>
        </div>



        <!-- Competition Details -->
        <div class="col-12">
            <br><br>
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參賽資料
                Competition Details</h5>
        </div>


        <div class="col-12 col-sm-6">
            <label>參加人數 Number of Applicants:</label>
            <input type="number" class="form-group" name="GFA[applicantNum]" min="1" max="100" required>
        </div>

        <div class="col-12 col-sm-6">
            <label>工作人員人數 Number of Crews:</label>
            <input type="number" class="form-group" name="GFA[crewNum]" min="0" max="100" required>
        </div>

        <div class="col-12">
            <label>支票編號 Check Number:</label>
            <input type="text" class="form-group" name="GFA[checkNum]" style="width:350pt;" required>
        </div>

        <div class="col-12">
            <label>銀行名稱 Name of Bank:</label>
            <input type="text" class="form-group" name="GFA[bankName]" style="width:350pt;" required>
        </div>


        <div class="col-12">
            <br>
            <span style="font-size:14px;color:red"> * </span>閣下所提供的資料只會用於本會之活動宣傳事宜，如欲更改或查詢閣下所申報的個人資料，請與本會職員聯絡。
            <br>
            The details provided by applicants will only be used by the promotions of our organisation. Please
            contact with our staff if you want to correct your personal information.
        </div>


        <!-- Terms of Competition -->
        <div class="col-12">
            <br><br>
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">聲明
                Declaration</h5>
        </div>


        <div class="col-12">
            <label>請下載及列印 <a href="/formDoc/gfa_declaration.pdf" download
                    style="color:#83a70c"><u>聲明書.pdf</u></a>後簽署並上載文件 Please download and print the <a
                    href="/formDoc/GRGS_declaration.pdf" download style="color:#83a70c"><u>declaration.pdf</u></a>,then
                sign and upload it</label>
            <input type="file" accept="image/*,application/pdf" onchange="handleFile(this.files)" required />
            <div id="preview"></div>
        </div>


        <div class="col-12">
            <br><br>
            <input type="checkbox" required>
            <label>我已仔細閱讀並清楚明白<a href="/competition/annex1" target="_blank"><u>參加者健康及體能須知</u></a><br> I have read
                carefully and
                understood the <a href="/competition/annex1" target="_blank"><u>Health and Fitness Guideline</u></a>
                for
                participants</label>
        </div>


        <div class="col-12">
            <br>
            <button type="submit" class="btn btn-primary"
                style="background-color: #83a70c; border-color: #83a70c; float:right">預覽 Preview >></button>
            <br><br>
        </div>
    </div>
    <br>
</form>

<script>

    function handleFile(files) {
        const file = files[0];
        if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;
        var preview = document.getElementById('preview');
        var reader = new FileReader();

        if (file.type.startsWith('image/')) {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var img = document.createElement('img');
                img.src = e.target.result;
                preview.appendChild(img);
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'GFA[document]';
                input.value = e.target.result;
                img.style.width = "150px";
                img.style.height = "150px";
                preview.appendChild(input);
            }
        } else if (file.type == 'application/pdf') {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'GFA[document]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
        }
        reader.readAsDataURL(file);
    }

    //handle have chinese name option
    function havechinesename() {
        var yes_check = document.getElementById("Yes");
        var no_check = document.getElementById("No");
        var chineseNameDis = document.getElementById("cpChiName")

        if (yes_check.checked == true) {
            chineseNameDis.checked = false;
            chineseNameDis.disabled = false;

        } else if (no_check.checked == true) {
            chineseNameDis.checked = true; //disable chinese name
            chineseNameDis.disabled = true;

        }
    } 
</script>