<form action="/pages/competition/form/Team_School_HKRGAgeGroupCompetitionFormPreview" method="POST">
    <div class="row">
        <div id="<%= TSRGCompetition.id %>" class="card col-12">
            <label style="color: #888888; font-size: 16pt; font-weight: 200; text-align: center;"><b>預覽 Preview</b></label>

            
        </div>

    </div>

</form>