<!-- Team_School_HKRGAgeGroupCompetitionform.ejs -->
<form action="/competition/form/Team_School_HKRGAgeGroupCompetitionform" method="POST">

    <div class="row mx-sm-2">
        <div class="col-12" style="color: #888888; ">
            <br>
            <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt;"><b>第63屆體育節 -
                    2020年全港藝術體操分齡比賽</b></h1>
            <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt;"><u>團體項目報名表(學校組)</u>
            </h2>
            <br><br>
        </div>

        <div class="col-12">
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">團體資料 Group
                Details</h5>
        </div>

        <div class="form-group col-12">
            <label>學校名稱(中文) School Name(Chinese):</label>
            <input type="text" name="TSRGCompetition[SchoolChiName]" style="width:450pt"
                onkeyup="value=value.replace(/[^\u4E00-\u9FA5\ \(\)]/g,'')" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>聯絡電話 Contact Number:</label>
            <input type="text" name="TSRGCompetition[Phone]" maxlength="8"
                onkeyup="value=value.replace(/[^\d\0-\9]/g,'')" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>聯絡電郵 Email Address:</label>
            <input type="email" name="TSRGCompetition[Email]" style="width:195pt" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>教練姓名 Coach Name:</label>
            <input input="text" name="TSRGCompetition[CoachName]" required>
        </div>

        <div class="form-group col-12 col-sm-6">
            <label>教練聯絡電話 Coach Contact Number:</label>
            <input type="text" name="TSRGCompetition[CoachPhone]" maxlength="8"
                onkeyup="value=value.replace(/[^\d\0-\9]/g,'')" required>
        </div>

        <div class="form-group col-12">
            <label>組別<br>Category:</label>
            <input type="radio" name="TSRGCompetition[Category]" value="預備A,B組" required />
            <label class="form-check-label" for="Category">預備A,B組</label>

            <input type="radio" name="TSRGCompetition[Category]" value="預備C,D組" required />
            <label class="form-check-label" for="Category">預備C,D組</label>

            <input type="radio" name="TSRGCompetition[Category]" value="預備E組" required />
            <label class="form-check-label" for="Category">預備E組</label>

            <input type="radio" name="TSRGCompetition[Category]" value="初級A組" required />
            <label class="form-check-label" for="Category">初級A組</label>

            <input type="radio" name="TSRGCompetition[Category]" value="初級B組" required />
            <label class="form-check-label" for="Category">初級B組</label>

            <input type="radio" name="TSRGCompetition[Category]" value="高級A組" required />
            <label class="form-check-label" for="Category">高級A組</label>

            <input type="radio" name="TSRGCompetition[Category]" value="高級B組" required />
            <label class="form-check-label" for="Category">高級B組</label>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參加者(1)個人資料
                Applicant(1)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <input type="text" name="TSRGCompetition[Mate1ChiName]" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TSRGCompetition[Mate1EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TSRGCompetition[Mate1IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" name="TSRGCompetition[Mate1Date]" required>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參加者(2)個人資料
                Applicant(2)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <input type="text" name="TSRGCompetition[Mate2ChiName]" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TSRGCompetition[Mate2EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TSRGCompetition[Mate2IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" name="TSRGCompetition[Mate2Date]" required>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參加者(3)個人資料
                Applicant(3)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <input type="text" name="TSRGCompetition[Mate3ChiName]" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TSRGCompetition[Mate3EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TSRGCompetition[Mate3IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" name="TSRGCompetition[Mate3Date]" required>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參加者(4)個人資料
                Applicant(4)'s Personal Details</h6>
            <br>

            <div class="form-group">
                <label>中文姓名 Name in Chinese:</label>
                <input type="text" name="TSRGCompetition[Mate4ChiName]" placeholder=" e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
            </div>
            <div class="form-group">
                <label>英文姓名 Name in English:</label>
                <input type="text" name="TSRGCompetition[Mate4EngName]" placeholder=" e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div class="form-group">
                <label>身分證號碼 ID Card Number:</label>
                <input type="text" name="TSRGCompetition[Mate4IDNo]" placeholder=" A123456(7)" required>
            </div>
            <div class="form-group">
                <label>出生日期 Date of Birth (dd/mm/yyyy):</label>
                <input type="date" name="TSRGCompetition[Mate4Date]" required>
            </div>
        </div>

        <div class="form-group col-12">
            <span>備註 Remarks:</span>
            <ol>
                <li>如有需要可自行影印表格<br>Applicants can make copy of the form if needed.</li>
                <li>每張報名表只可報<u>一個</u>組別<br>An application form can be applied for <u>one</u> category only.</li>
            </ol>

            <br>
        </div>

        <div class="form-group col-12">
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">費用 Fee</h5>

            <div class="form-group">
                <label>團體項目 Group Event: $250 X </label>
                <input id="teamNo" type="number" name="TSRGCompetition[TeamNumber]" min=1 max=100 onblur="calculate()"
                    required>
                <span>隊 team(s) = $</span>
                <input id="teamPrice" type="number" name="TSRGCompetition[TeamPrice]" readonly required>
                <br>
            </div>
            <div class="form-group">
                <label>總額 Total price = $</label>
                <input id="total" type="number" name="TSRGCompetition[TeamTotalPrice]" readonly required>
            </div>

            <span style="font-style: italic;">*請以支票付款，並以郵寄方式或親臨辦公室遞交支票<br>Please make payment by cheque and submit it
                by post or in person</span>
            <br><br><br>
        </div>

        <div class="form-group col-12">
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">文件上載 
                Documents Upload</h5>

            <div class="form-group">

                <label><b>1. 請下載及列印 <a href="/formDoc/Team_School_HKRG_declaration.pdf" download><u
                                style="color: #83a70c;">聲明書.pdf</u></a>後簽署並上載文件 Please download and print the <a
                            href="/formDoc/Team_School_HKRG_declaration.pdf" download><u
                                style="color: #83a70c;">declaration.pdf</u></a>,then sign and upload it</b></label>
                <input type="file" accept="image/*,application/pdf" onchange="handleFile(this.files)" required />

                <div id="preview"></div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <label>學校負責人姓名 Leader's Name:</label>
                    <input type="text" class="form-group" name="TSRGCompetition[leaderName]" required>
                </div>
                <div class="col-12 col-sm-6">
                    <label>學校負責人職位 Leader's Position:</label>
                    <input type="text" class="form-group" name="TSRGCompetition[leaderPosition]" required>
                </div>
            </div>
        </div>

        <br>
        <div class="form-group col-12">
            <input type="checkbox" required>
            <label>我已仔細閱讀並清楚明白<a href="/competition/annex1" target="_blank"><u>參加者健康及體能須知</u></a><br> I have read
                carefully and
                understood the <a href="/competition/annex1" target="_blank"><u>Health and Fitness Guideline</u></a> for
                participants</label>
        </div>

        <div class="col-12">
            <br>
            <button type="submit" class="btn btn-primary"
                style="background-color: #83a70c; border-color: #83a70c; float:right">預覽 Preview >></button>
            <br><br>
        </div>
    </div>
</form>

<script>
    function calculate() {
        document.getElementById('teamPrice').value = 250 * document.getElementById('teamNo').value;

        var price = document.getElementById('teamPrice').value;
        document.getElementById('total').value = price;
    }

    function handleFile(files) {
        const file = files[0];
        if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;
        var preview = document.getElementById('preview');
        var reader = new FileReader();

        if (file.type.startsWith('image/')) {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var img = document.createElement('img');
                img.src = e.target.result;
                preview.appendChild(img);
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TSRGCompetition[Declaration]';
                input.value = e.target.result;
                img.style.width = "150px";
                img.style.height = "150px";
                preview.appendChild(input);
            }
        } else if (file.type == 'application/pdf') {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TSRGCompetition[Declaration]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
        }
        reader.readAsDataURL(file);
    }
</script>