<form action="/pages/competition/form/test" method="GET">
    <% req.session.GRGSdata = req.session.GRGSdata || {} %>
    <%= req.session.GRGSdata.teamName%><br>hi
    <%= req.session.GRGSdata.phone%>
</form>