<form action="/competition/form/trampoline" method="POST">
    <br>

    <div class="row mx-sm-2">
        <div class="col-12" style="color: #888888; ">
            <h1 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:16pt;"><b>2020年香港彈網分齡賽</b></h1>
            <h2 style="font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:14pt;"><u>雙人同步 報名表格</u></h2>
            <br><br>
        </div>


        <div class="col-12">
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">隊伍資料 Group
                details</h5>
        </div>

        <div class="col-12">
            <p>
                <label for="gender">性別 Gender </label>
                <input name="Trampoline[gender]" type="radio" value="Male" required />
                <label for="male">男 Male</label>
                <input name="Trampoline[gender]" type="radio" value="Female" required />
                <label for="female">女 Female</label>
            </p>
            <p>
                <label for="category">參賽組別 Category</label>
                <input name="Trampoline[category]" type="radio" value="Youngest" required />
                <label for="youngest">14 歲或以下 14 years old or below &nbsp; </label>
                <input name="Trampoline[category]" type="radio" value="Median" required />
                <label for="median">15 至 16 歲 15 to 16 years old</label>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <input name="Trampoline[category]" type="radio" value="Eldest" required />
                <label for="eldest">17 歲或以上 17 years old or above</label>
            </p>

        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參加者(1)個人資料
                Applicant(1)'s personal details</h6>

            <div>
                <label for="chiName1">中文姓名 Name in Chinese:</label>
                <input id="chiName1" type="text" class="form-group" name="Trampoline[chiName1]" placeholder="e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
            </div>
            <div>
                <label>英文姓名 Name in English: </label>
                <input type="text" class="form-group" name="Trampoline[engName1]" placeholder="e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div>
                <label>出生年份 Year of birth:</label>
                <select id="year1" class="form-group" name="Trampoline[birth1]" required></select>
                <br>
            </div>
            <div>
                <label>聯絡電話 Contact number:</label>
                <input type="tel" pattern=[0-9]{8} class="form-group" name="Trampoline[phone1]" required>
            </div>
            <div>
                <label>電郵 Email:</label>
                <input type="email" class="form-group" name="Trampoline[email1]" style="width: 250pt;" required>
            </div>
            <div>
                <label>地址 Address:</label>
                <input type="text" class="form-group" name="Trampoline[address1]" style="width:350pt" required>
                <br>
            </div>
        </div>

        <div class="card col-12 col-sm-6" style="background: transparent;">
            <br>
            <h6 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">參加者(2)個人資料
                Applicant(2)'s personal details</h6>

            <div>
                <label>中文姓名 Name in Chinese:</label>
                <input type="text" class="form-group" name="Trampoline[chiName2]" placeholder="e.g. 陳大文"
                    onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" required>
            </div>
            <div>
                <label>英文姓名 Name in English: </label>
                <input type="text" class="form-group" name="Trampoline[engName2]" placeholder="e.g. Chan Tai Man"
                    onkeyup="value=value.replace(/[^\a-\z\A-\Z\ ]/g,'')" required>
            </div>
            <div>
                <label>出生年份 Year of birth:</label>
                <select id="year2" class="form-group" name="Trampoline[birth2]" required></select>
                <br>
            </div>
            <div>
                <label>聯絡電話 Contact number:</label>
                <input type="tel" pattern=[0-9]{8} class="form-group" name="Trampoline[phone2]" required>
            </div>
            <div>
                <label>電郵 Email:</label>
                <input type="email" class="form-group" name="Trampoline[email2]" style="width: 250pt;" required>
            </div>
            <div>
                <label>地址 Address:</label>
                <input type="text" class="form-group" name="Trampoline[address2]" style="width: 350pt;" required>
                <br>
            </div>
        </div>
        <div class="form-group col-12">
            <span>備註 Remarks:</span><br>
            <span>請填妥<a href="/formDoc/trampoline_comp.card.pdf" style="color:rgb(159, 209, 60);"
                    download>比賽動作卡</a>連同劃線支票以郵寄方式或親臨辦公室遞交<br>Please fill in the <a href="/formDoc/trampoline_comp.card.pdf" style="color:rgb(159, 209, 60);"
                    download>competition action card</a> and submit it
                along with cheque by post or in person




            </span>

            <br>
        </div>

        <div class="col-12">
            <br><br>
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">所屬團體
                Organization to which your body belongs</h5>
        </div>


        <div class="col-12">
            <label>團體名稱 Organization name:</label>
            <input type="text" class="form-group" name="Trampoline[orgName]" style="width: 400pt;" required>
        </div>

        <div class="col-12 col-sm-6">
            <label>教練姓名 Coach name:</label>
            <input type="text" class="form-group" name="Trampoline[coachName]" required>
        </div>

        <div class="col-12 col-sm-6">
            <label>聯絡電話 Contact number:</label>
            <input type="tel" pattern=[0-9]{8} class="form-group" name="Trampoline[coachPhone]" required>
        </div>

        <div class="col-12">
            <label>註冊教練編號(如適用) Registered coach no.(If applicable):</label>
            <input type="text" class="form-group" name="Trampoline[coachNum]">
        </div>


        <div class="col-12">
            <label>地址 Address:</label>
            <input type="text" class="form-group" name="Trampoline[coachAddress]" style="width: 400pt;" required>
        </div>


        <div class="col-12">
            <br>
            <h5 style="color: #83a70c; font-family: Verdana,Arial, Helvetica, sans-serif;  font-size:12pt;">聲明
                Declaration</h5>
        </div>

        <div class="col-12">

            <label>*請下載及列印 <a href="/formDoc/trampoline_declaration.pdf" download
                    style="color: #83a70c;"><u>聲明書.pdf</u></a>,簽署後把文件上載 Please download and print the <a
                    href="/formDoc/trampoline_declaration.pdf" download
                    style="color: #83a70c;"><u>declaration.pdf</u></a>,then sign and upload it</label>
            <input type="file" accept="image/*,application/pdf" onchange="handleFile(this.files)" required />

        </div>

        <div class="col-12">
            <br><br>
            <input type="checkbox" required>


            <label>我已仔細閱讀並清楚明白<a href="/competition/annex1" target="_blank"><u>參加者健康及體能須知</u></a><br> I have read
                carefully and
                understood the <a href="/competition/annex1" target="_blank"><u>Health and Fitness Guideline</u></a> for
                participants</label>

        </div>

        <div class="col-12">
            <br><br>
            <button type="submit" class="btn btn-primary"
                style="background: #83a70c url(../img/overlay.png) repeat-x; border: none; float: right;">預覽 Preview
                >></button>
        </div>
    </div>
    <br>

</form>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles/previewForm.css" />
<script type="text/javascript" src="js/previewForm.js"></script>

<script>
    $(document).ready(function () {
        $('#myform').previewForm();
    });
</script>

<script>

    var start = 1900;
    var end = new Date().getFullYear();
    var options = "<option disabled selected>" + " " + "</option>";
    for (var year = start; year <= end; year++) {
        options += "<option>" + year + "</option>";
    }
    document.getElementById("year1").innerHTML = options;
    document.getElementById("year2").innerHTML = options;

</script>

<script>
    function handleFile(files) {
        const file = files[0];
        if (!file.type.startsWith('image/') && !file.type == 'application/pdf') return;
        var preview = document.getElementById('preview');
        var reader = new FileReader();

        if (file.type.startsWith('image/')) {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var img = document.createElement('img');
                img.src = e.target.result;
                preview.appendChild(img);
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TRGCompetition[VBRC]';
                input.value = e.target.result;
                img.style.width = "150px";
                img.style.height = "150px";
                preview.appendChild(input);
            }
        } else if (file.type == 'application/pdf') {
            reader.onload = function (e) {
                preview.innerHTML = "";
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'TRGCompetition[VBRC]';
                input.value = e.target.result;
                preview.appendChild(input);
            }
        }
        reader.readAsDataURL(file);
    }
</script>